@charset "UTF-8";

*  {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 280px;

    }

    div#imagem {
        float: left; 
        width: 30%;
        height: 100%;
    }

    div#form{
        float: right;
        width: 70%;
    }
}

/*Desktop*/
@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 950px;
        height: 350px;
    }

    div#imagem {
        float: right; 
        width: 50%;
         height: 100%;
     }
 
      div#form{
         float: left;
         width: 50%;
     }

     #form h1 {
        font-size: 2em;
    
    }

     #form p {
        font-size: 1em;
        margin: 20px 0px;
    }

}

/*estudar display grid / flex*/